<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <script src="https://unpkg.com/vue@3.3.8/dist/vue.global.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
        <title>Email List</title>
    </head>

    <body>
        <div id="app">
            <div id="container">
                <h1>Email Address Generator</h1>
                <button @click="randomEmail()">Generate 10 email addresses</button>
                <ul v-if="emailList.length > 9">
                    <li v-for="email in emailList">{{email}}</li>
                </ul>
            </div>
        </div>
        
        <script src="js/main.js"></script>
    </body>
</html>